---
import type { GetStaticPaths } from "astro";
import MainLayout from "../../layouts/MainLayout.astro";
import PokemonCard from "../../components/pokemon/PokemonCard.astro";
import type { PokemonListResponse } from "../../interfaces/pokemon-list.response";
import Title from "../../components/shared/Title.astro";
import { Icon } from "astro-icon/components";

export const getStaticPaths = (async () => {
  const resp = await fetch("https://pokeapi.co/api/v2/pokemon?limit=151");
  const { results } = (await resp.json()) as PokemonListResponse;

  return results.map(({ name, url }) => ({
    params: { name },
    props: { name, url },
  }));
}) satisfies GetStaticPaths;

const { name } = Astro.params;
const { url } = Astro.props;

const id = url.split("/").at(-2);
const audioSrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${id}.ogg`;
const ArtWork = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${id}.png`;
---

<MainLayout
  title={`${name} | Pokemon`}
  image={ArtWork}
  description={`information about Pokemon: "${name}".`}
>
  <section class="mt-8 mx-auto flex flex-col justify-center items-center max-w-lg">
    <div class="flex w-full justify-between items-center mb-8">
      <button onclick="history.back()" class="retro-btn text-xs">
        Regresar
      </button>
      <button
        id="btn-favorite"
        data-name={name}
        data-id={id}
        class="retro-btn text-xs flex items-center gap-2 text-red-500"
      >
        <Icon name="heart-icon" data-heart-icon size="24" />
        <Icon
          name="heart-icon-solid"
          data-heart-icon-solid
          class="hidden text-red-500"
          size="24"
        />
        FAV
      </button>
    </div>
    <Title>{name}</Title>

    <PokemonCard isBig name={name} url={url} />

    <audio controls class="mt-5">
      <source src={audioSrc} type="audio/ogg" />
      Tu navegador no soporta el elemento de audio.
    </audio>
  </section>
</MainLayout>

<script>
  import type { FavoritePokemon } from "../../interfaces/FavoritePokemons.interface";

  const handleToggleFavorite = () => {
    let favoritePokemon: FavoritePokemon[] = JSON.parse(
      localStorage.getItem("favoritePokemon") ?? "[]",
    );

    const btnFavorite = document.querySelector(
      "#btn-favorite",
    ) as HTMLButtonElement;

    if (!btnFavorite) return;

    const name = btnFavorite.dataset.name;
    const id = btnFavorite.dataset.id;

    const heartIcon = btnFavorite.querySelector(
      "[data-heart-icon]",
    ) as HTMLElement;
    const heartIconSolid = btnFavorite.querySelector(
      "[data-heart-icon-solid]",
    ) as HTMLElement;

    const isFavorite = favoritePokemon.some((fav) => fav.name === name);
    if (isFavorite) {
      heartIcon.classList.add("hidden");
      heartIconSolid.classList.remove("hidden");
    }

    const toggleFavorite = () => {
      const isFavotite = favoritePokemon.some((fav) => fav.name === name);

      if (isFavotite) {
        //remove
        favoritePokemon = favoritePokemon.filter((fav) => fav.name !== name);
      } else {
        //add
        favoritePokemon.push({ name: name || "", id: Number(id) });
      }

      localStorage.setItem("favoritePokemon", JSON.stringify(favoritePokemon));
    };
    btnFavorite.addEventListener("click", () => {
      heartIcon.classList.toggle("hidden");
      heartIconSolid.classList.toggle("hidden");

      toggleFavorite();
    });
  };

  document.addEventListener("astro:page-load", handleToggleFavorite);
</script>
