---
import type { GetStaticPaths } from "astro";
import PokemonCard from "../../components/pokemon/PokemonCard.astro";
import type { PokemonListResponse } from "../../interfaces/pokemon-list.response";
import MainLayout from "../../layouts/MainLayout.astro";
import Title from "../../components/shared/Title.astro";

export const getStaticPaths = (async ({ paginate }) => {
  const res = await fetch("https://pokeapi.co/api/v2/pokemon?limit=151");
  const { results } = (await res.json()) as PokemonListResponse;

  return paginate(results, { pageSize: 20 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---

<MainLayout
  title="Pokémon static list | Home"
  description="pokemon list with pagination"
>
  <Title>Pokemon List</Title>
  <section
    aria-label="pokemon list"
    class="grid grid-cols-1 sm:grid-cols-4 md:grid-cols-5 mt-5 gap-4"
  >
    {page.data.map((data) => <PokemonCard name={data.name} url={data.url} />)}
  </section>

  <section class="flex mt-10 gap-4 items-center w-full justify-between">
    <a
      class:list={[
        "retro-btn text-sm",
        {
          "opacity-50 cursor-not-allowed pointer-events-none": !page.url.prev,
        },
      ]}
      href={page.url.prev}>Previous</a
    >
    <span class="text-sm font-bold">p.{page.currentPage}</span>
    <a
      class:list={[
        "retro-btn text-sm",
        {
          "opacity-50 cursor-not-allowed pointer-events-none": !page.url.next,
        },
      ]}
      href={page.url.next}>Next</a
    >
  </section>
</MainLayout>


