---
import type { GetStaticPaths } from "astro";
import MainLayout from "../../layouts/MainLayout.astro";
import PokemonCard from "../../components/pokemon/PokemonCard.astro";
import type { PokemonListResponse } from "../../interfaces/pokemon-list.response";

export const getStaticPaths = (async () => {
  const resp = await fetch("https://pokeapi.co/api/v2/pokemon?limit=151");
  const { results } = (await resp.json()) as PokemonListResponse;

  return results.map(({ name, url }) => ({
    params: { id: url.split("/").at(-2) },
    props: { name, url },
  }));
}) satisfies GetStaticPaths;

const { id } = Astro.params;
const { name, url } = Astro.props;
const audioSrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${id}.ogg`;
---

<MainLayout title={`${name} | Pokemon`}>
  <section class="mt-10 mx-10 flex flex-col justify-center items-center">
    <div class="flex flex-row">
      <div>
        <h1 class="text-5-xl capitalize">{name}</h1>
      </div>

      <button
        onclick="history.back()"
        class="text-blue-500 ml-4 underline cursor-pointer"
      >
        Regresar
      </button>
    </div>

    <PokemonCard isBig name={name} url={url} />

    <audio controls class="mt-5">
      <source src={audioSrc} type="audio/ogg" />
      Tu navegador no soporta el elemento de audio.
    </audio>
  </section>
</MainLayout>
